In [33]:
import pandas as pd
import os

In [34]:

# Caminho do seu JSON de credenciais
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "C:/Users/Yasmim/Downloads/minha-conta-servico.json"

# ID do projeto
project_id = "analise-470017"

In [36]:
# Query corrigida
query = """
SELECT 
    ano,
    id_municipio,
    sigla_uf,
    natureza_estabelecimento,
    natureza_juridica,
    quantidade_vinculos_ativos,
    cnae_1,
    cnae_2,
    cnae_2_subclasse
FROM `basedosdados.br_me_rais.microdados_estabelecimentos`
WHERE ano BETWEEN 2019 AND 2023
  AND id_municipio IN ('3550308', '3304557')  -- SP e RJ como STRING
  AND quantidade_vinculos_ativos > 0
"""

In [37]:
# Executa a query
df = pd.read_gbq(query, project_id=project_id, dialect='standard')

# Mostra as primeiras linhas
print(df.head())

# Salva em CSV
df.to_csv("estabelecimentos_rj_sp_2019_2023.csv", index=False)
print("Consulta concluída e CSV salvo!")

    ano id_municipio sigla_uf natureza_estabelecimento natureza_juridica  \
0  2020      3304557       RJ                     None              1023
1  2020      3304557       RJ                     None              1015
2  2020      3304557       RJ                     None              1031
3  2020      3304557       RJ                     None              1023
4  2020      3304557       RJ                     None              1023

   quantidade_vinculos_ativos cnae_1 cnae_2 cnae_2_subclasse
0                         353  75116  84116          8411600
1                         461  75116  84116          8411600
2                          21  75116  84116          8411600
3                          63  75116  84116          8411600
4                         152  75116  84116          8411600
Consulta concluída e CSV salvo!